
/*  start header */

@media screen and (max-width: 668px){
    header nav,
    header nav ul li a, 
    header nav ul li .acitve{
        flex-direction: column;
    }

    header nav h1{
        margin-right: 30px;
        margin-left: 0;
    }
}

@media screen and (max-width: 1500px){

    header nav h1{
        margin-left: 30px;
    }
}

@media screen and (max-width: 500px){
    header nav ul li a,
    header nav ul li .acitve{
        background-color: transparent;
        padding: 5px 0px;
        font-size: 14px;
    }
}
/*  end header */

/*  start title */
@media screen and (max-width: 850px){
    .box-serch input{
        max-width: 500px;
        transition: 0.3s ease;

    }
    .Contact .Contact_icon a{
        font-size: 28px;
    }
}
@media screen and (max-width: 470px){

    .box-serch input {
        transition: 0.3s ease;
        width: 350px;

    }
}
@media screen and (max-width: 500px){
    .box-serch input {
        width: 350px;
        transition: 0.3s ease;

    }
}
@media screen and (max-width: 470px){
    .subtitle p{
        width: 300px;
    }
}


@media screen and (max-width: 470px){
    .subtitle span{
        font-size: 30px;
    }
}

@media screen and (max-width: 850px){
    .subtitle p{
        max-width: 400px;
    }
}
@media screen and (max-width: 520px){
    .box-serch input{
        max-width: 350px;
    }
}

@media screen and (max-width: 500px){
    .subtitle span{
        font-size: 50px;
    }
    .subtitle p{
        font-size: 18px;
        max-width: 400px;
    }
}
/*  end header */


/*  start Services*/
@media screen and (max-width: 883px){
    .Services .boxs-serv{
        flex-direction: column;
        
    }
}
@media screen and (max-width: 883px){
    .Services {
        min-height: 710px;
    }
    .Services .boxs-serv .box-sevr{
        margin-top: 10px;
    }
}

/*  end Services*/

/* start packagas */

@media screen and (max-width: 500px){
    .box-pack{
        width: 100%;
        margin: auto;
    }
    .perint_img{
        margin-top: 60px;
    }
    .box-pack p{
        margin-bottom: 60px;
    }
    .box-pack img:hover{
        opacity: 0.5;
        width: 100%;
    }
    .box-pack img,
    .box-pack h3{
        border-radius: 0%;
    }
}

/* end packagas */

/* start footer */

@media screen and (max-width: 470px){
    .Contact .Contact_icon a{
        font-size: 23px;
    }
}

/* end footer */